<style type="text/css">
    .root{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    height: auto;
    }
    .subdiv{
     width: 600px;
     height: auto;
    margin-top: 20px;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid black
    }
    .gap{
      margin-bottom: 20px;
    
    }
    
    
    </style>
    
    
    <html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script src='/javascripts/project.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    </head>
    
     <form action="/input/addnewinput">
    <div class="root">
        
        
        <div class="subdiv">
            
           <div class="row">
             <h5>Input Interface</h5>
             
        </div>
             
           <div class="form-row gap">
                <div class="col">
                <input type="text" class="form-control" placeholder="Input here..."  name='name'>
                </div>
                
             </div>
    
    
             <div class="form-row gap">
                  <input type="file" class="form-control" placeholder="Picture"  name='picture'>
                           </div>
    
                   
                <div class="form-row gap">
                            <div class="col" style="display: flex; justify-content: center; align-items: center;">
                                <button type="submit" class="btn btn-primary" style="width: 150px;">Add</button>
                            </div>
                            <div class="col" style="display: flex; justify-content: center; align-items: center;">
                                <button type="reset" class="btn btn-primary"  style="width: 150px;">Reset</button>
                            </div> 
                    </div>
                   
                    <div class="form-row gap">
                        <b><%=msg %></b>
                       </div>

    </div>
    </div>
    </form>
    </html>